---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

As Instructor of Record (UC San Diego)
===

 * CSE 20: Discrete Mathematics (Winter 2024)

 * [SPIS: Summer Program for Incoming Students](https://spis.ucsd.edu/academic.html) (Summer 2023)

 * CSE 20: Discrete Mathematics (Summer 2023)

 * [CSE 130: Programming Languages: Principles and Paradigms](https://canvas.ucsd.edu/courses/44436) (Winter 2023)

As Teaching Assistant (UC San Diego)
===

 * CSE 230: Principles of Programming Languages (Profs. Ranjit Jhala and Nadia Polikarpova) 
   <em> [Fall 2023](https://ucsd-cse230.github.io/fa23/), 
        [Fall 2022](https://ucsd-cse230-np.github.io/web/), 
        [Fall 2021](https://ucsd-cse230.github.io/fa21/), 
        [Fall 2020](https://ucsd-cse230.github.io/fa20/), 
        [Spring 2020](https://ucsd-cse230.github.io/sp20/)</em>

 * CSE 205A: Logic in Computer Science (Prof. Victor Vianu) <em>Spring 2023, Spring 2021, Spring 2019</em>

 * [CSE 130: Programming Languages: Principles and Paradigms](https://ucsd-cse130.github.io/wi21/) (Prof. Ranjit Jhala) <em>Winter 2021</em>

 * [CSE 135: Online Database Analytics Applications](https://classes.pint.com/cse135/) (Prof. Thomas Powell) <em>Summer 2020</em>

 * [CSE 134B: Web Client Languages](https://classes.pint.com/cse134b/) (Prof. Thomas Powell) <em>Summer 2020</em>

 * [CSE 101: Design and Analysis of Algorithms](https://cseweb.ucsd.edu/~rajaiswal/Winter2020/cse101/) (Prof. Ragesh Jaiswal) <em>Winter 2020</em>

 * [CSE 105: Theory of Computability](https://cseweb.ucsd.edu/classes/fa19/cse105-a/) (Prof. Shachar Lovett) <em>Fall 2019</em>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
