---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<h2>As Instructor of Record (UC San Diego)</h2>

<ul>
 <li> CSE 20: Discrete Mathematics (Winter 2024)</li>

 <li> <a href="https://spis.ucsd.edu/academic.html" target="_blank">SPIS: Summer Program for Incoming Students</a> (Summer 2023)</li>

 <li> CSE 20: Discrete Mathematics (Summer 2023)</li>

 <li> <a href="https://canvas.ucsd.edu/courses/44436" target="_blank">CSE 130: Programming Languages: Principles and Paradigms</a> (Winter 2023)</li>
</ul>

<h2>As Teaching Assistant (UC San Diego)</h2>

<ul>
  <li> CSE 230: Principles of Programming Languages (Profs. Ranjit Jhala and Nadia Polikarpova) 
   <em> <a href="https://ucsd-cse230.github.io/fa23/" target="_blank">Fall 2023</a>, 
        <a href="https://ucsd-cse230-np.github.io/web/" target="_blank">Fall 2022</a>, 
        <a href="https://ucsd-cse230.github.io/fa21/" target="_blank">Fall 2021</a>, 
        <a href="https://ucsd-cse230.github.io/fa20/" target="_blank">Fall 2020</a>, 
        <a href="https://ucsd-cse230.github.io/sp20/" target="_blank">Spring 2020</a></em></li>

 <li> CSE 205A: Logic in Computer Science (Prof. Victor Vianu) <em>Spring 2023, Spring 2021, Spring 2019</em></li>

 <li> <a href="https://ucsd-cse130.github.io/wi21/" target="_blank">CSE 130: Programming Languages: Principles and Paradigms</a> (Prof. Ranjit Jhala) <em>Winter 2021</em></li>

 <li> <a href="https://classes.pint.com/cse135/" target="_blank">CSE 135: Online Database Analytics Applications</a> (Prof. Thomas Powell) <em>Summer 2020</em></li>

 <li> <a href="https://classes.pint.com/cse134b/" target="_blank">CSE 134B: Web Client Languages</a> (Prof. Thomas Powell) <em>Summer 2020</em></li>

 <li> <a href="https://cseweb.ucsd.edu/~rajaiswal/Winter2020/cse101/" target="_blank">CSE 101: Design and Analysis of Algorithms</a> (Prof. Ragesh Jaiswal) <em>Winter 2020</em></li>

 <li> <a href="https://cseweb.ucsd.edu/classes/fa19/cse105-a/" target="_blank">CSE 105: Theory of Computability</a> (Prof. Shachar Lovett) <em>Fall 2019</em></li>

</ul>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
